@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <form>
            <div class="col-md col-6 py-2">
                <input type="text" class="form-control" placeholder="Enter Title" />
            </div>
            <div class="col-md col-6 py-2">
                <input type="text" class="form-control" placeholder="Enter Director" />
            </div>
            <div class="col-md col-6 py-2">
                <input type="date" class="form-control" placeholder="Enter Year" />
            </div>
            <div class="col-md col-6 py-2">
                <input type="text" class="form-control" placeholder="Enter Genre" />
            </div>
            <div class="col-md col-6 py-2">
                <input type="range" class="form-control" placeholder="Enter IMDB" />
            </div>
            <div class="col-md col-6 py-2">
                <input type="file" class="form-control" placeholder="Enter Image" />
            </div>
            <div class="col-md col-6 py-2">
                <textarea type="text" class="form-control" placeholder="...Description"></textarea>
            </div>
        </form>
    </div>
</div>
