@inject UserManager<ApplicationUser> _userManager

<!DOCTYPE html>
<html lang="en">


<head>

    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="canonical" href="index-2.html" />
    <!-- OG -->
    <meta name="robots" content="index, follow">

    <meta name="keywords" content="Web Design, Education, Institute, Study" />
    <meta name="author" content="ThemeTrades" />
    <meta name="description"
          content="EduChamp is a Fully Creative Mobile Responsive HTML Template. It is designed specifically for University, College, School, Training centre or other educational institute." />

    <meta property="og:url" content="index-2.html" />
    <meta property="og:site_name" content="EduChamp : Education HTML Template" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_us" />
    <meta property="og:title" content="EduChamp : Education HTML Template" />
    <meta property="og:description"
          content="EduChamp is a Fully Creative Mobile Responsive HTML Template. It is designed specifically for University, College, School, Training center or other educational institute." />
    <meta property="og:image" content="preview.png" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="index-2.html">
    <meta name="twitter:creator" content="@@themetrades">
    <meta name="twitter:title" content="EduChamp : Education HTML Template">
    <meta name="twitter:description"
          content="EduChamp is a Fully Creative Mobile Responsive HTML Template. It is designed specifically for University, College, School, Training centre or other educational institute.">

    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" href="/Layout/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="/Layout/images/favicon.png" />

    <!-- PAGE TITLE HERE ============================================= -->
    <title>اجوکمپ :قالب آموزشی</title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script src="/Layout/js/html5shiv.min.js"></script>
    <script src="/Layout/js/respond.min.js"></script>
    <![endif]-->
    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="/Layout/css/assets.css">

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" href="/Layout/css/typography.css">

    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" type="text/css" href="/Layout/css/shortcodes/shortcodes.css">

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" href="/Layout/css/style.css">
    <link class="skin" rel="stylesheet" type="text/css" href="/Layout/css/color/color-1.css">

    <!-- REVOLUTION SLIDER CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="/Layout/vendors/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="/Layout/vendors/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="/Layout/vendors/revolution/css/navigation.css">
    <link href="~/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/@@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <!-- REVOLUTION SLIDER END -->
    <!-- External JavaScripts -->
    <script src="/Layout/js/jquery.min.js"></script>
    <script src="/Layout/vendors/bootstrap/js/popper.min.js"></script>
    <script src="/Layout/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Layout/vendors/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/Layout/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
    <script src="/Layout/vendors/magnific-popup/magnific-popup.js"></script>
    <script src="/Layout/vendors/counter/waypoints-min.js"></script>
    <script src="/Layout/vendors/counter/counterup.min.js"></script>
    <script src="/Layout/vendors/imagesloaded/imagesloaded.js"></script>
    <script src="/Layout/vendors/masonry/masonry.js"></script>
    <script src="/Layout/vendors/masonry/filter.js"></script>
    <script src="/Layout/vendors/owl-carousel/owl.carousel.js"></script>
    <script src="/Layout/js/functions.js"></script>
    <script src="/Layout/js/contact.js"></script>
    <script src='/Layout/vendors/switcher/switcher.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>

<body id="bg">

    <div class="page-wraper">
        <div id="loading-icon-bx"></div>
        <!-- Header Top ==== -->
        <header class="header rs-nav">
            <div class=" navbar-expand-lg ">
                <div class="menu-bar clearfix" style="background-color:#121921">
                    <div class="container clearfix">
                        <!-- Header Logo ==== -->
                        <div class="menu-logo">
                            <a href="index.html"><img src="/Layout/images/logo.png" alt=""></a>
                        </div>
                        <!-- Mobile Nav Button ==== -->
                        <button class="navbar-toggler collapsed menuicon justify-content-end" type="button" data-toggle="collapse"
                                data-target="#menuDropdown" aria-controls="menuDropdown" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <!-- Author Nav ==== -->
                        <div class="secondary-menu">
                            <div class="secondary-inner text-white">
                                <ul>
                                    @if (true)
                                    {
                                        <li><a asp-action="Login" asp-controller="Account" class="btn-link text-white px-1" style="text-decoration:none">Sign In</a>/</li>
                                        <li><a asp-action="Register" asp-controller="Account" class="btn-link text-white px-1" style="text-decoration:none">Sign Up</a></li>
                                    }

                                    <!-- Search Button ==== -->
                                    <li class="search-btn">
                                        <button id="quik-search-btn" type="button" class="btn-link text-white">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Search Box ==== -->
                        <div class="nav-search-bar">
                            <form action="#">
                                <input name="search" value="" type="text" class="form-control" placeholder="جستجو...">
                                <span><i class="ti-search"></i></span>
                            </form>
                            <span id="search-remove"><i class="ti-close"></i></span>
                        </div>
                        <!-- Navigation Menu ==== -->
                        <div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
                            <div class="menu-logo">
                                <a href="index.html"><img src="/Layout/images/logo.png" alt=""></a>
                            </div>
                            <ul class="nav navbar-nav">
                                <li>
                                    <a class="text-white" href="javascript:;">CMS <i class="fa fa-chevron-down"></i></a>
                                    <ul class="sub-menu text-center">
                                        <li><a style="text-decoration:none" asp-controller="Genre" asp-action="Index">Genres</a></li>
                                        <li><a style="text-decoration:none" asp-controller="Movie" asp-action="Index">Movies</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="text-white" href="javascript:;">صفحات <i class="fa fa-chevron-down"></i></a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="javascript:;">درباره ما<i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="about-1.html">درباره ما 1</a></li>
                                                <li><a href="about-2.html">درباره ما 2</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:;">رویداد<i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="event.html">رویداد</a></li>
                                                <li><a href="events-details.html">جزییات رویداد </a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:;">سوالات متداول<i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="faq-1.html">پرسش و پاسخ1</a></li>
                                                <li><a href="faq-2.html">پرسش و پاسخ2</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:;">ارتباط با ما<i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="contact-1.html">ارتباط با ما 1</a></li>
                                                <li><a href="contact-2.html">ارتباط با ما 2</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="portfolio.html">نمونه کارها</a></li>
                                        <li><a href="profile.html">پروفایل</a></li>
                                        <li><a href="membership.html">عضویت</a></li>
                                        <li><a href="error-404.html">404 صفحه</a></li>
                                    </ul>
                                </li>
                                <li class="add-mega-menu">
                                    <a class="text-white" href="javascript:;">دوره‌های ما <i class="fa fa-chevron-down"></i></a>
                                    <ul class="sub-menu add-menu">
                                        <li class="add-menu-left">
                                            <h5 class="menu-adv-title">دوره‌های ما</h5>
                                            <ul>
                                                <li><a href="courses.html">دوره‌ها</a></li>
                                                <li><a href="courses-details.html">جزییات دوره‌ها</a></li>
                                                <li><a href="profile.html">پروفایل استاد</a></li>
                                                <li><a href="event.html">رویدادهای آینده</a></li>
                                                <li><a href="membership.html">عضویت</a></li>
                                            </ul>
                                        </li>
                                        <li class="add-menu-right">
                                            <img src="/Layout/images/adv/adv222.png" alt="" />
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="text-white" href="javascript:;">بلاگ<i class="fa fa-chevron-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="blog-classic-grid.html">بلاگ ساده</a></li>
                                        <li><a href="blog-classic-sidebar.html">بلاگ ساده همراه سایدبار</a></li>
                                        <li><a href="blog-list-sidebar.html">بلاگ لیستی همراه سایدبار</a></li>
                                        <li><a href="blog-standard-sidebar.html">بلاگ استاندارد همراه سایدبار</a></li>
                                        <li><a href="blog-details.html">جزییات بلاگ</a></li>
                                    </ul>
                                </li>
                                <li class="nav-dashboard">
                                    <a class="text-white" href="javascript:;">داشبرد<i class="fa fa-chevron-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="admin/index.html">داشبرد</a></li>
                                        <li><a href="admin/add-listing.html">افزودن لیست</a></li>
                                        <li><a href="admin/bookmark.html">بوکمارک</a></li>
                                        <li><a href="admin/courses.html">دوره‌ها</a></li>
                                        <li><a href="admin/review.html">نظرات</a></li>
                                        <li><a href="admin/teacher-profile.html">پروفایل مدرس</a></li>
                                        <li><a href="admin/user-profile.html">پروفایل کاربر</a></li>
                                        <li>
                                            <a href="javascript:;">تقویم<i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="admin/basic-calendar.html">تقویم ساده</a></li>
                                                <li><a href="admin/list-view-calendar.html">تقویم لیستی</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:;">صندوق پستی<i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="admin/mailbox.html">صندوق پستی</a></li>
                                                <li><a href="admin/mailbox-compose.html">ارسال پیام</a></li>
                                                <li><a href="admin/mailbox-read.html">نامه</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="nav-social-link">
                                <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                <a href="javascript:;"><i class="fa fa-google-plus"></i></a>
                                <a href="javascript:;"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <!-- Navigation Menu END ==== -->
                    </div>
                </div>
            </div>
        </header>
        <!-- Header Top END ==== -->
        @RenderBody()
        @await RenderSectionAsync("Scripts", required: false)
        <!-- Footer ==== -->
        <footer>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center"><span class="text-white"></span> محمدابراهیم جنگجو    982089826</div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer END ==== -->
        <button class="back-to-top fa fa-chevron-up"></button>
    </div>
</body>


</html>